<!doctype html>
<html>
  <head>
    <title></title>
    <script src="/lib/jquery-1.11.3.min.js"></script>
    <script src="/lib/jquery.hotkeys.js"></script>
    <script src="/app/scripts/popup.js"></script>
    <link rel="stylesheet" href="/app/stylesheets/popup.css">
  </head>
  <body>
    <h1>Select</h1>
    <form>
  		<input type="radio" name="source" value="nyt">The New York Times<br>
  		<input type="radio" name="source" value="feedly">Feedly
    </form>
    <div class="test"></div>
  </body>
</html>